.bullet-screen {
    width: 100%;
    height: 100%;
    background: #f1f1f1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.bullet-title {
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    padding: 0.4rem;
    box-sizing: border-box;
}

.bullet-content {
    position: absolute;
    top: 2.8rem;
    bottom: 3.6rem;
    left: 0;
    right: 0;
    overflow: hidden;   
}

.bullet-load {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 2.4rem;
    padding: 0.4rem 0.8rem;
}

.bullet-input {
    height: 2rem;
    line-height: 2rem;
    width: 70%;
    box-sizing: border-box;
    float: left;
    font-size: 1.2rem;
    padding: 0 0.4rem;
}

.submit-btn {
    display: inline-block;
    width: 30%;
    line-height: 2rem;
    height: 2rem;
    background: #286090;
    color: #fff;
    box-sizing: border-box; 
    text-align: center;
    float: left;
    font-size: 1.2rem;
}

.move_25 {
    -webkit-animation: move_25 5s linear infinite; /* Safari 4+ */
    -moz-animation: move_25 5s linear infinite; /* Fx 5+ */
    animation: move_25 5s linear infinite; 
}

.move_50 {
    -webkit-animation: move_50 8s linear infinite; /* Safari 4+ */
    -moz-animation: move_50 8s linear infinite; /* Fx 5+ */
    animation: move_50 8s linear infinite; 
}

@keyframes move_25 {
    from {
    }
    to {
        left: -750px;
    }
}

@-webkit-keyframes move_25 {
    from {
    }
    to {
        left: -750px;
    }
}

@-moz-keyframes move_25 {
    from {
    }
    to {
        left: -750px;
    }
}

@keyframes move_50 {
    from {
    }
    to {
        left: -1500px;
    }
}

@-webkit-keyframes move_50 {
    from {
    }
    to {
        left: -1500px;
    }              
}

@-moz-keyframes move_50 {
    from {
    }
    to {
        left: -1500px;
    }  
}